/* Estilos generales */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

/* Estilos del menú */
.menu {
  display: flex;
  justify-content: space-between;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  text-align: right;
}

.custom-link1 {
  color: #0094a5;
}

.custom-link1:hover {
  text-decoration: none;
  color: #023f46; 
}

/* Estilos de los botones */
.btn {
  display: inline-block;
  background-color: #00A19C;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #005f6a;
}

/* Estilos de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 10px;
  text-align: left;
}

/* Estilos de detalles */
details {
  margin-bottom: 20px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
}

summary:hover {
  text-decoration: underline;
}

.registration-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  border: black 1px;
}

.registration-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-check {
  margin-bottom: 20px;
}

.form-check label {
  margin-left: 5px;
}

.alert {
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  background-color: #dff0d8;
  color: #3c763d;
}

.alert button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  color: #3c763d;
  cursor: pointer;
}

.version {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
}

/* Estilos específicos de la página de inicio de sesión */
.card-header {
  background-color: #00A19C;
  color: white;
}

.form-group button[type="submit"] {
  background-color: #FCCE01;
}

.custom-bg-primary {
  background-color: #00A19C;
}

.custom-btn-primary {
  background-color: #FCCE01;
  border-color: #FCCE01;
}

.navbar-nav {
  display: flex;
}

.navbar-nav li:last-child {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  color: #00afaa;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #FECC2F;
}

.btn-logout {
  background-color: #00afaa;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  border: 1px solid #00afaa;
}

.btn-logout:hover{
  background-color: #FECC2F;
}
